# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore virtual environments
venv/
env/
.venv/

# Ignore build artifacts
build/
dist/
*.egg-info/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore example and temporary files
examples/
*.tmp
*.log

# Ignore IPA specific folders
ipa.egg-info/